@tailwind base;
@tailwind components;
@tailwind utilities;

:where(#ms-filter-react-root) {
  font-family: Arial, Helvetica, sans-serif;
}

#ms-filter-react-root {
  width: 100%;
}

#ms-filter-react-root > .dark {
  width: 100%;
}

#ms-filter-react-root [role="toolbar"] {
  width: 100%;
}

@media (max-width: 650px) {
  #ms-filter-react-root [role="toolbar"] {
    flex-wrap: nowrap;
    overflow-x: auto;
    scrollbar-width: none;
    padding-bottom: 2px;
  }

  #ms-filter-react-root [role="toolbar"]::-webkit-scrollbar {
    display: none;
  }
}
